<!DOCTYPE html>
  <html lang="en">

<body>
  <head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

  </head>

    <div class="container">

          {{ content }}

    </div><!-- /.container -->

    <footer class= "footer">
      <div class="container footer-content">
        <h2><a id="connect"></a>Want to connect?</h2>
        <p><a class="link-dark-bg" href="https://www.linkedin.com/in/jesseukkonen/" target="_blank">LinkedIn</a> is surely the easiest choice. You can also email me jesah [dot] ukkonen [at] gmail [dot] com. I fluently speak English, Finnish and Swedish.</p>
      </div>
    </footer>
    
   </body>
</html>
