<!DOCTYPE html>
 <!-- I crafted this site with love and care, I hope you enjoy it! -->
  <html lang="en">

<body>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85431951-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-85431951-1');
    </script>

<!-- General meta information
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="Jesse Ukkonen | A Designer With an Inclusive Mindset">
    <meta property="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}/{{ page.image }}">
    <meta name="author" content="Jesse Ukkonen">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="images/favicon.ico?v=2">

    {% seo %}

  </head>
<main>
    <div class="container">

          {{ content }}

    </div><!-- /.container -->
 </main>
    <footer class= "footer">
      <div class="container footer-content">
        <h2 id="connect">Want to connect?</h2>
        <p>Find me in <a class="link-dark-bg" href="https://www.linkedin.com/in/jesseukkonen/" target="_blank">LinkedIn</a>, send an email on <a class="link-dark-bg" href="javascript:alert('JavaScript')" onclick="this.href=atob('bWFpbHRvOmplc2FoLnVra29uZW4lNDBnbWFpbC5jb20='); return true" target="_blank">jesah.ukkonen@gmail.com</a> or give an old-fashioned phone call at <a class="link-dark-bg" href="tel:+358403580522">+358 40 358 0522</a>. I currently work as a product designer at <a class="link-dark-bg" href="https://qvik.com/" target="_blank">Qvik</a>. You can approach me in English, Finnish or Swedish.</p>

        <p style="margin-bottom:0; font-size:1rem;">&copy; <script type="text/javascript">document.write(new Date().getFullYear());
          </script> Jesse Ukkonen</p>
       </div>
    </footer>

   </body>
</html>
