<!DOCTYPE html>
  <html lang="en">

<body>
  <head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon shortcut" type="image/png" href="images/favicon.png?v=2">

  </head>

    <div class="container">

          {{ content }}

    </div><!-- /.container -->

    <footer class= "footer">
      <div class="eight columns">
        <div class="container footer-content">
          <h2><a id="connect"></a>Want to connect?</h2>
          <p>Find me in <a class="link-dark-bg" href="https://www.linkedin.com/in/jesseukkonen/" target="_blank">LinkedIn</a>. Send an email on <a class="link-dark-bg" href="javascript:alert('JavaScript')" onclick="this.href=atob('bWFpbHRvOmplc2FoLnVra29uZW4lNDBnbWFpbC5jb20='); return true" target="_blank">jesah.ukkonen@gmail.com</a> or give an old-fashioned phone call at <a class="link-dark-bg" href="tel:+358403580522">+358 40 358 0522</a>. I currently work as a product designer at <a class="link-dark-bg" href="https://qvik.com/" target="_blank">Qvik</a>. <br>You can approach me in English, Finnish or Swedish.</p>

          <p style="margin-bottom:0; font-size:1rem;">&copy; <script type="text/javascript">document.write(new Date().getFullYear());
            </script> Jesse Ukkonen</p>
      </div>
     </div>
    </footer>
    
   </body>
</html>
